{
  "presets": ["module:@react-native/babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./app"],
        "alias": {
          "assets": "./app/assets",
          "components": "./app/components",
          "configs": "./app/configs",
          "features": "./app/features",
          "hooks": "./app/hooks",
          "layouts": "./app/layouts",
          "navigation": "./app/navigation",
          "screens": "./app/screens",
          "types": "./app/types",
          "utils": "./app/utils"
        }
      }
    ]
  ]
}
